lab5/zad1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd=
"http://www.w3.org/2001/XMLSchema">
<xsd:element name="pracownik">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="imie" type="xsd:string"/>
<xsd:element name="nazwisko" type="xsd:string"/>
<xsd:element name="wiek" type="xsd:int"/>
<xsd:element name="dataurodzenia" type="xsd:string"/>
<xsd:element name="pensja" type="xsd:int"/>

</xsd:sequence>
</xsd:complexType>

</xsd:element> 

</xsd:schema>
