lab5/zad2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd=
"http://www.w3.org/2001/XMLSchema">
<xsd:element name="zamowienie">
<xsd:complexType>
<xsd:sequence>


<xsd:element name="cena" type="xsd:int"/>
<xsd:element name="adres" type="xsd:string" minOccurs="0"/>
<xsd:element name="kontakt" type="xsd:string" maxOccurs="unbounded" />
<xsd:element name="towar" type="xsd:string" maxOccurs="12"/>


</xsd:sequence>
</xsd:complexType>

</xsd:element> 

</xsd:schema>

